* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$primary-color: #ffff;
$gray-title-color: rgb(202, 202, 202);

.container {
  background-image: url("../../../public/assets/images/laptop-sits-wooden-table-with-glass-wine_1124573-33014.avif");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 150px;
}
.content {
  padding-top: 150px;
  width: 50%;
  text-align: center;
}
.header__name {
  font-size: 54px;
  color: $primary-color;
}

.header__title {
  color: $gray-title-color;
  font-size: 34px;
  margin: 20px 0 60px;
}

.header__btn {
  padding: 10px 20px;
  color: $primary-color;
  background-color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: $primary-color;
}
